.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

html {
  direction: rtl;
  --blue1: #036f93;
  --blue2: #22b0d8;
  --blue-gradient: linear-gradient(to left, var(--blue1), var(--blue2));
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: black;
  --content-width: 1088px;
  --my-cyan: #247591;
  min-width: var(--content-width);
  overflow: scroll;
}

 a {
   color: black;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  width: var(--content-width);
  display: flex;
}


.blue-box {
  min-height: 800px;
  justify-content: center;
  display: flex;
  background: var(--blue-gradient);
  width: 100%;
  flex: 1;
}

main {
  flex: 1;
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grey-box span {
  text-align: right;
}

.grey-box h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.home, .about, .calc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-start {
  flex: 1;
  min-height: 800px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 0, 0%;
  background-blend-mode: lighten;
  background-image: var(--blue-gradient), url(/assets/elephant.png);
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-items: top;
}

.baloons {
  margin: 20px;
  background-image: url(/assets/baloons.png);
  height: 488px;
  width: var(--content-width);
  position: relative;
  color: var(--my-cyan);
}

.baloon1 {
  position: absolute;
  right: 85px;
  top: 20px;
  font-weight: bold;
}

.baloon2 {
  position: absolute;
  right: 530px;
  top: 155px;
  width: 500px;
}

.baloon3 {
  position: absolute;
  right: 80px;
  top: 340px;
  width: 500px;
}

.grey-box {
  width: var(--content-width);
  margin-top: -230px;
  height: 550px;
  display: flex;
  background-color: #ebebeb;
  padding: 20px;
  font-size: 1rem;
  color: black;
}

.welcome-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.welcome-title {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
}

.blue-button {
  align-self: flex-end;
  justify-self: flex-end;
  background: var(--blue-gradient);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 50px 50px;
  color: white;
}

.how-button {
  background: linear-gradient(to bottom, var(--blue1), var(--blue2));
  padding: 20px;
  width: var(--content-width);
  margin: 50px 0 20px 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.about .blue-box {
  min-height: 450px;
}
.about .grey-box {
  height: auto;
  flex-direction: column;
}
.calc .grey-box {
  height: auto;
  flex-direction: column;
}


.calc .blue-box {
  min-height: 450px;
}
.calc .grey-box {
  height: auto;
  flex-direction: column;
}

.title-baloon {
  background: url(/assets/baloon.png);
  height: 99px;
  width: 637px;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 20px;
  position: relative;
  color: var(--my-cyan);
  font-weight: bold;
  font-size: 1.5rem;
}

.calc-form {
  columns: 2;
  text-align: right;
  position: relative;
}

.calc-form .calc-row {
  margin-top: .5rem;
}

.blue-button.submit {
  padding: 10px;
  font-size: 1.2rem;
  position: relative;
  bottom: 0;
}

.calc-form label {
  font-weight: bold;
}

.calc-form input,select {
  width: 450px;
  border-radius: 8px;
  margin: 5px 0;
  height: 45px;
  border: 1px solid grey;
  padding: 10px;
}

.about .blue-button {
  margin: 0 0 20px 20px;
}

.about .arrow {
  bottom: 240px;
  left: 40px;
}

.calc .arrow {
  bottom: 240px;
  left: 40px;
}

.content {
  position: relative;
  width: var(--content-width);
}

.about .title-baloon {
  position: absolute;
  right: 10px;
  top: 30px;
}

.calc .title-baloon {
  position: absolute;
  right: 10px;
  top: 30px;
}

.about, .calc {
  position: relative;
}

.about span {
  margin-bottom: 50px;
}

.banner {
  background: url(/assets/banner.jpg);
  width: 100%;
  height: 435px;
  margin-top: 70px;
  text-align: right;
  padding: 100px 100px 50px 50%;
}
.banner button {
  border-radius: 10px;
  background: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px;
  margin: 50px;
  float: left;
}

.arrow {
  position: absolute;
  right: 660px;
  bottom: -40px;
}
.contact {
  display: none;
  height: 410px;
  background: var(--blue-gradient);
  width: 100%;
  margin: 50px;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

.nav-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: stretch;
}

.nav-area nav {
  margin-bottom: 10px;
}

nav ul {
  flex-direction: row;
  justify-content: space-between;
  margin-right: none;
  display: flex;
}

.nav-item {
  flex: 1;
}

.logo {
  margin: 70px 10px 10px 10px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.budget {
  text-align: right;
}

.budget svg {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}