.App {
  text-align: center;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

html {
  direction: rtl;
  --blue-title: #0E578A;
  --blue-bg-dark: #06769A;
  --blue-bg-light: #21AFD7;
  --blue-label: #18618F;
  --blue-gradient: linear-gradient(to left, var(--blue-bg-dark), var(--blue-bg-light));
  --max-content-width: 920px;
  --min-content-margin: 23px;
  --newsletter: #48C4E6;
}

header {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 var(--min-content-margin);
}

b {
  font-weight: 700;
}

.main-title {
  width: 100%;
  text-align: right;
  margin: 16px 42px 19px 0;
}

.main-title a {
  font-size: 32px;
  line-height: 42px;
  color: var(--blue-title);
  font-weight: bold;
}

.start {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: var(--max-content-width);
}

.strip {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: right;
}

.hero {
  height: 222px;
  background: var(--blue-gradient);
  font-size: 21px;
  color: white;
  line-height: 27px;
} 

@media only screen and (max-width: 800px) {
  .desktop-only {
    display: none;
  }

  .hero-blue {
    padding: 25px;
  }

  .calc-form {
    max-height: auto;
  }

  .main-title {
    justify-content: center;
  }
}

span {
  margin-left: 47px;
  margin-right: 23px;
  min-width: 345px;
  max-width: 400px;
  flex: 1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Assistant', 'Open Sans', sans-serif;
  font-size: 22px;
  color: black;
}

 a {
   color: black;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  width: var(--content-width);
  display: flex;
}


.blue-box {
  min-height: 800px;
  justify-content: center;
  display: flex;
  background: var(--blue-gradient);
  width: 100%;
  flex: 1;
}

main {
  flex: 1;
  align-self: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.grey-box span {
  text-align: right;
}

.grey-box h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.home, .about, .calc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-start {
  flex: 1;
  min-height: 800px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 0, 0%;
  background-blend-mode: lighten;
  background-image: var(--blue-gradient), url(/assets/elephant.png);
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-items: top;
}


.calc-form .blue-button {
  background: var(--blue-gradient);
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2rem;
  margin: 25px 0 0px 50px;
  color: white;
}

.how-button {
  background: linear-gradient(to bottom, var(--blue1), var(--blue2));
  padding: 20px;
  width: var(--content-width);
  margin: 50px 0 20px 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.about .blue-box {
  min-height: 450px;
}
.about .grey-box {
  height: auto;
  flex-direction: column;
}
.calc .grey-box {
  height: auto;
  flex-direction: column;
}
.calc .blue-box {
  min-height: 450px;
}
.calc .grey-box {
  height: auto;
  flex-direction: column;
}

.calc-form {
  text-align: right;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 22px;
}

.calc-row {
  margin-top: 20px;
}
.calc-form label {
  color: var(--blue-label);
  font-weight: bold;
}

.calc-form input,select {
  width: 450px;
  border-radius: 8px;
  margin: 5px 0;
  height: 45px;
  border: 1px solid grey;
  padding: 10px;
}

.about .blue-button {
  margin: 0 0 20px 20px;
}

.about .arrow {
  bottom: 240px;
  left: 40px;
}

.calc .arrow {
  bottom: 240px;
  left: 40px;
}

.about .title-baloon {
  position: absolute;
  right: 10px;
  top: 30px;
}

.calc .title-baloon {
  position: absolute;
  right: 10px;
  top: 30px;
}

.about, .calc {
  position: relative;
}

.about span {
  margin-bottom: 50px;
}

.banner {
  background: url(/assets/banner.jpg);
  width: 100%;
  height: 435px;
  margin-top: 70px;
  text-align: right;
  padding: 100px 100px 50px 50%;
}
.banner button {
  border-radius: 10px;
  background: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px;
  margin: 50px;
  float: left;
}

.arrow {
  position: absolute;
  right: 660px;
  bottom: -40px;
}
.contact {
  display: none;
  height: 410px;
  background: var(--blue-gradient);
  width: 100%;
  margin: 50px;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

.nav-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: stretch;
}

.nav-area nav {
  margin-bottom: 10px;
}

nav ul {
  flex-direction: row;
  justify-content: space-between;
  margin-right: none;
  display: flex;
}

.nav-item {
  flex: 1;
}

.logo {
  margin: 70px 10px 10px 10px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.budget {
  text-align: right;
}

.budget svg {
  display: none;
}

.newsletter {
  background: var(--newsletter);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 187px;
}

.newsletter-info {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.newsletter img {
  vertical-align: top;
  padding-top: 5px;
}
.newsletter h2 {
  color: white;
  font-size: 19px;
}

.newsletter h1 {
  color: white;
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 20px;
  background: var(--blue-label);
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer img {
  vertical-align: bottom;
}