.App {
  text-align: center;
}

html {
  direction: rtl;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.budget {
  display: table;
}
.budgetEntry {
  display: table-row;
}

.budgetEntry > * {
  display: table-cell;
  max-width: 300px;
  overflow: hidden;
}

.shekel {
  white-space: nowrap;
}